<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/category.css">

  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/categories.js"></script>
  <!-- /styles CSS-->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/users.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


  <title>ResourceWall: Category</title>
</head>

<header>
  <%- include('partials/_header') %>
</header>

<body>
  <main>

    <h1>
      Category: <%= category[0].name %>
    </h1>

    <section id="tags-container">

      <% for (let cat of category) { %>
       <a href="/resource/<%= cat.id %>"><article class="cat-cards">
          <div class="tag-element">
            <p>
              <%= cat.title %>
            </p>
          </div>

          <div class="like">
            <p>Likes: <%= cat.likes %>
            </p>
          </div>

          <div class="rating">
            <p>Rating: <%= cat.rating %>/5</p>
          </div>
        </article>
      </a>
        <% } %>



    </section>

  </main>

</body>

</html>
