<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/resource.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


  <title>Resource Page
  </title>
</head>

<header>
  <%- include('./partials/_header') %>
</header>

<body>
  <section class="resource-container">

    <div class="content-container">
      <H1><%= resource['title'] %> <span><a href="/category/<%= resource.category_id %>"><button class="btn btn-success"> <%= resource['name'] %></button></span></a></H1>
      <div class="resource-list">
        <ul>
          <li><a href="<%= resource['url'] %>"><%= resource['url'] %></a></li>
        </ul>
      </div>

      <div class="content-description">
        <p><%= resource['description'] %></p>
      </div>

      <div class="tags-container">
        <button class="btn btn-danger">Like</button>
        <button class="btn btn-danger">Rating</button>
      </div>
    </div>

    <div class="comments-container">
      <form id="comment-form" action="/comments-api" method="POST">
        <div>
          <textarea id="comment-text" placeholder="Add a comment" name="comment-text" id="" cols="30"
            rows="10"></textarea>
        </div>
        <div class="button-container">
          <button type="submit" class="btn btn-primary">Post Comment</button>
        </div>
      </form>
      <h3>Comments</h3>

      <div class="appended-comments">

    </div>
    </div>

  </section>


  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="../scripts/resource-id.js"></script>
</body>

</html>
